<!--  Replace menu links here -->
<meta name="google-site-verification" content="cdAx4GYYVh7tikM6yvedrmHLDv-T54Qg7IvipEFWdM0" />
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Anasayfa</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/hami-berkay-aktas-hakkimda/">Hakkımda</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">İletişim</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://github.com/hberkayaktas">Github'ım</a>
</li>

